# SPDX-FileCopyrightText: Copyright (c) 2024-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

**/*.onnx
**/*.plan
**/*.onnx
**/*.plan
**/*.etcd
**/.cache/*
**/*onnx*
# Engine must be allowed because code contains dynamo_engine.py
**/*tensorrtllm_engines*
**/*tensorrtllm_models*
**/*tensorrtllm_checkpoints*
**/*hf_downloads*
**/*pytorch_model*
**/*.pth*
**/*.pt
**/*.models/*
**/*.model-store/*
**/*.model.*/*
**/*.cache/*
**/*.libtorch_model_store/*
**/.git
**/.github
**/*backup*/
.dockerignore
**/target/*
**/*safetensors
container/Dockerfile*