apiVersion: batch/v1
kind: Job
metadata:
  name: sync-hf-lora-to-minio
spec:
  template:
    spec:
      containers:
      - name: uploader
        image: python:3.10-slim
        command:
        - /bin/sh
        - -c
        - |
          set -eux
          pip install --no-cache-dir huggingface-hub awscli
          hf download  $MODEL_NAME --local-dir /tmp/lora
          rm -rf /tmp/lora/.cache
          aws --endpoint-url=http://minio:9000 s3 mb s3://my-loras || true
          aws --endpoint-url=http://minio:9000 s3 sync /tmp/lora s3://my-loras/$MODEL_NAME
        envFrom:
        - secretRef:
            name: hf-token-secret
        env:
        - name: AWS_ACCESS_KEY_ID
          value: minioadmin
        - name: AWS_SECRET_ACCESS_KEY
          value: minioadmin
        - name: MODEL_NAME
          value: codelion/Qwen3-0.6B-accuracy-recovery-lora
          # value: Neural-Hacker/Qwen3-Math-Reasoning-LoRA
      restartPolicy: Never
  backoffLimit: 3