# concurrencies: 1, 2, 3, 6, 12
prefill:
  num: 1
  config:
    max_batch_size: 2
    max_num_tokens: 16640
    max_seq_len: 8232
    tensor_parallel_size: 4
    moe_expert_parallel_size: 4
    enable_attention_dp: true
    pipeline_parallel_size: 1
    print_iter_log: true
    cuda_graph_config: null
    disable_overlap_scheduler: true
    moe_config:
      backend: TRTLLM
    nvfp4_gemm_config:
      allowed_backends:
      - cutlass
      - cublaslt
      - cuda_core
    kv_cache_config:
      enable_block_reuse: false
      free_gpu_memory_fraction: 0.6
      dtype: fp8
    cache_transceiver_config:
      max_tokens_in_buffer: 16384
      backend: UCX
    speculative_config:
      decoding_type: MTP
      num_nextn_predict_layers: 3

  env:
    TRTLLM_SERVER_DISABLE_GC: 1
    TRTLLM_WORKER_DISABLE_GC: 1
    NCCL_GRAPH_MIXING_SUPPORT: 0
    TRTLLM_ENABLE_PDL: 1
  unset_env:
    - UCX_TLS
decode:
  num: 4
  config:
    tensor_parallel_size: 8
    moe_expert_parallel_size: 8
    enable_attention_dp: false
    enable_lm_head_tp_in_adp: false
    pipeline_parallel_size: 1
    max_batch_size: 8
    max_num_tokens: 32
    max_seq_len: 9256
    cuda_graph_config:
      enable_padding: true
      batch_sizes:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
    print_iter_log: true
    kv_cache_config:
      enable_block_reuse: false
      free_gpu_memory_fraction: 0.9
      dtype: fp8
    moe_config:
      backend: TRTLLM
      use_low_precision_moe_combine: true
    nvfp4_gemm_config:
      allowed_backends:
      - cutlass
      - cublaslt
      - cuda_core
    cache_transceiver_config:
      max_tokens_in_buffer: 16384
      backend: UCX
    stream_interval: 100
    num_postprocess_workers: 4
    allreduce_strategy: MNNVL
    speculative_config:
      decoding_type: MTP
      num_nextn_predict_layers: 3
  env:
    TRTLLM_SERVER_DISABLE_GC: 1
    TRTLLM_WORKER_DISABLE_GC: 1
    NCCL_GRAPH_MIXING_SUPPORT: 0
    TRTLLM_ENABLE_PDL: 1
  unset_env:
    - UCX_TLS

