# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Git
.git
.github

# IDE
.idea
.vscode

# Build artifacts
bin/
cover.out
*.test
*.out

# OS
.DS_Store

# Repo content not needed in the build context
docs/
hack/
operator/
**/.gitkeep
