# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# DynamoGraphDeploymentRequest for MoE model profiling
apiVersion: nvidia.com/v1beta1
kind: DynamoGraphDeploymentRequest
metadata:
  name: sla-moe
spec:
  model: deepseek-ai/DeepSeek-R1
  backend: sglang
  image: "nvcr.io/nvidia/ai-dynamo/sglang-runtime:my-tag"
  searchStrategy: rapid

  modelCache:
    pvcName: "model-cache"                      # Name of PVC containing model weights
    pvcModelPath: "deepseek-r1"                  # Subpath within PVC where model is stored

  hardware:
    # for h200, sweep over 8-16 GPUs per engine
    numGpusPerNode: 8  # Override auto-discovered value if different

  workload:
    isl: 3000
    osl: 150

  sla:
    ttft: 200.0
    itl: 20.0

  autoApply: true

