# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: Build Frontend Image

on:
  push:
    branches:
    - ops-2572 # todo remove this after merge
    - main
    - "pull-request/[0-9]+"
    # Note: release/* branches are handled by release.yml which calls this workflow
  workflow_call:
    secrets:
      AWS_ACCOUNT_ID:
        required: true
      AWS_DEFAULT_REGION:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AZURE_ACR_HOSTNAME:
        required: true
      AZURE_ACR_USER:
        required: true
      AZURE_ACR_PASSWORD:
        required: true
      CI_TOKEN:
        required: true
      SCCACHE_S3_BUCKET:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name == 'main' && github.run_id || github.ref_name }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  BUILDER_NAME: b-${{ github.run_id }}${{ github.run_attempt }}


jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.changes.outputs.frontend }}
      builder_name: ${{ steps.export-builder-name.outputs.builder_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          fetch-depth: 0
      - name: Check for changes
        id: changes
        uses: ./.github/actions/changed-files
        with:
          gh_token: ${{ github.token }}
      - name: Export builder name
        id: export-builder-name
        run: |
          echo "builder_name=${{ env.BUILDER_NAME }}" >> $GITHUB_OUTPUT

  build-frontend-image:
    name: Build Frontend Image (${{ matrix.arch }})
    needs: changed-files
    if: needs.changed-files.outputs.frontend == 'true'
    strategy:
      fail-fast: false
      matrix:
        arch:
          - "amd64"
          - "arm64"
    runs-on: prod-builder-v2
    steps:
    - name: test
      run: |
        echo "builder_name: ${{ needs.changed-files.outputs.builder_name }}"
  #     - name: Checkout repository
  #       uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
  #       with:
  #         lfs: true
  #     - name: Docker Login
  #       uses: ./.github/actions/docker-login
  #       with:
  #         aws_default_region: ${{ secrets.AWS_DEFAULT_REGION }}
  #         aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
  #         azure_acr_hostname: ${{ secrets.AZURE_ACR_HOSTNAME }}
  #         azure_acr_user: ${{ secrets.AZURE_ACR_USER }}
  #         azure_acr_password: ${{ secrets.AZURE_ACR_PASSWORD }}
  #     - name: Initialize Dynamo Builder
  #       uses: ./.github/actions/init-dynamo-builder
  #       with:
  #         builder_name: ${{ needs.changed-files.outputs.builder_name }}
  #         flavor: general
  #         arch: ${{ matrix.arch }}

  #     - name: Build and Push Frontend Container
  #       id: build-image
  #       uses: ./.github/actions/docker-build
  #       with:
  #         image_tag: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_DEFAULT_REGION }}.amazonaws.com/ai-dynamo/dynamo:${{ github.sha }}-frontend-${{ matrix.arch }}
  #         framework: none
  #         target: frontend
  #         platform: linux/${{ matrix.arch }}
  #         ci_token: ${{ secrets.CI_TOKEN }}
  #         aws_default_region: ${{ secrets.AWS_DEFAULT_REGION }}
  #         sccache_s3_bucket: ${{ secrets.SCCACHE_S3_BUCKET }}
  #         aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
  #         aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         no_cache: false
  #         extra_tags: ${{ secrets.AZURE_ACR_HOSTNAME }}/ai-dynamo/dynamo:${{ github.sha }}-frontend-${{ matrix.arch }}
  #         push_image: true
  #         no_load: true

  # frontend-status-check:
  #   runs-on: ubuntu-latest
  #   needs: [changed-files, build-frontend-image]
  #   if: always()
  #   steps:
  #     - name: "Check all dependent jobs"
  #       run: |
  #         echo '${{ toJson(needs) }}' | jq -e 'to_entries | map(.value.result) | all(. as $result | ["success", "skipped"] | any($result == .))'