# SPDX-FileCopyrightText: Copyright (c) 2024-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: Post-Merge CI Pipeline

on:
  push:
    branches:
      - 'release/*.*.*'

permissions:
  contents: read

jobs:
  ci-pipeline:
    name: Post-Merge CI
    uses: ./.github/workflows/ci-test-suite.yml
    with:
      pipeline_type: post_merge
      include_nightly_marks: false
      image_prefix: main
      enable_slack_notification: true
    secrets: inherit
