name: Trigger Secure Deploy

on:
  workflow_dispatch:
    inputs:
      run_deploy_operator:
        description: 'Run deploy operator and deployment tests'
        required: false
        default: false
        type: boolean
      target_branch:
        description: 'Branch to run deploy tests on'
        required: false
        default: 'main'
        type: string

jobs:
  trigger-deploy-tests:
    runs-on: ubuntu-latest
    environment: protected-deploy  # manual approval before triggering
    steps:
      - name: Call Secure Deploy Workflow
        uses: ./.github/workflows/container-validation-backends.yml
        with:
          run_deploy_operator: ${{ github.event.inputs.run_deploy_operator }}
