name: Trigger Secure Deploy

on:
  workflow_dispatch:
    inputs:
      run_deploy_operator:
        description: 'Run deploy operator and deployment tests'
        required: false
        default: false
        type: boolean

jobs:
  call-container-validation:
    uses: ./.github/workflows/container-validation-backends.yml
    with:
      run_deploy_operator: ${{ github.event.inputs.run_deploy_operator }}